header{
    background: url(./IMG/papel.jpg);
}

.logo{
    width: 220px; height: 80px;
    position: relative;
    top: 5px;
    right: 0;
}

.caixa{
    width: 940px;
    height: 90px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 32px;
    right: 0;
}

nav li{
    display: inline;
    position: relative;
    margin: 0 0 0 13px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-size: 19px;
    text-decoration: none;
}

nav a:hover{
    color: darkslategrey;
}

nav a:active{
    color: khaki;
}

.titulo{
    font-style: italic;
    font-size: 33px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 13px;
}

.conteudo{
    width: 700px;
    height: auto;
    margin-left: 80px;
    margin-right: 300px;
    font-size: 18px;
}

.Pnegrito{
    font-weight: bold;
    font-size: 20px;
}

.Guido{
    width: 200px; height: 300px;
    margin-left: 900px;
    margin-right: 200px;
    margin-top: -550px;
    float: right;
}

.figura1{
    width: 280px; height: 200px;
    margin-left: 900px;
    margin-right: 150px;
    margin-top: -220px;
    float: right;
}

footer{
    text-align: center;
    background: url(./IMG/bg.jpg);
    padding: 40px 0px;
    
}

.rodape{
    width: 110px; height: 50px;
}

.copyright{
    color: white;
    margin: 20px 0 0;
}



