header{
    background: url(./IMG/papel.jpg);
}

.logo{
    width: 220px; height: 80px;
    position: relative;
    top: 5px;
    right: 0;
}

.caixa{
    width: 940px;
    height: 90px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 32px;
    right: 0;
}

nav li{
    display: inline;
    position: relative;
    margin: 0 0 0 13px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-size: 19px;
    text-decoration: none;
}

nav a:hover{
    color: darkslategrey;
}

nav a:active{
    color: khaki;
}

.lista{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
    
}

.lista li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 40%;
    margin: 0 1.5%;
    padding:  30px 20px;
    box-sizing: border-box;
    border: 2px dashed black;
    border-radius: 10px;
    
}

.lista h2{
    font-size: 30px;
    font-weight: bold;
}

.lista li:hover{
    border-color: burlywood;
}

.lista li:hover h2{
    font-size: 34px;
}

.lista li:active{
    border-color: khaki;
}

.descriçao{
    font-size: 18px;
}

.preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./IMG/bg.jpg);
    padding: 40px 0px;
    
}

.rodape{
    width: 110px; height: 50px;
}

.copyright{
    color: white;
    margin: 20px 0 0;
}



